<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BucketMapper">

    <resultMap id="BaseResultMap" type="com.domain.Bucket">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="region" column="region" jdbcType="VARCHAR"/>
            <result property="endPoint" column="end_point" jdbcType="VARCHAR"/>
            <result property="owner" column="owner" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="keyId" column="key_id" jdbcType="INTEGER"/>
            <result property="createById" column="create_by_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,region,end_point,
        owner,name,key_id,
        create_by_id
    </sql>
</mapper>
