<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.DatabasesInstanceMapper">

    <resultMap id="BaseResultMap" type="com.domain.DatabasesInstance">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="instanceId" column="instance_id" jdbcType="VARCHAR"/>
            <result property="instanceName" column="instance_name" jdbcType="VARCHAR"/>
            <result property="domain" column="domain" jdbcType="VARCHAR"/>
            <result property="region" column="region" jdbcType="VARCHAR"/>
            <result property="port" column="port" jdbcType="VARCHAR"/>
            <result property="keyId" column="key_id" jdbcType="INTEGER"/>
            <result property="user" column="user" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="whitelist" column="whitelist" jdbcType="VARCHAR"/>
            <result property="keyName" column="key_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,instance_id,instance_name,
        domain,region,port,
        key_id,user,password,
        type,whitelist,key_name
    </sql>
</mapper>
