<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TaskMapper">

    <resultMap id="BaseResultMap" type="com.domain.Task">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="filename" column="filename" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="bucket" column="bucket" jdbcType="VARCHAR"/>
            <result property="keyName" column="key_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_path,status,
        filename,user_id,bucket,
        key_name
    </sql>
</mapper>
